.ctgroup{
    background-color: #bbc5cd !important;
}
.ctpara{
    font-size: 1.5rem;
    margin: 1.5rem;
}
.nav-link{
    background-color: rgb(232 255 183) !important;
    color: black !important;
    /* border: none; */
}
.nav-link:hover{
    background-color: rgb(195 237 106) !important;
}