.textareabox {
    height: 50vh;
    background-color: #dffffb !important;
    margin: 1rem auto !important;
}
.navbutton{
    border: 1px solid;
    border-radius: 0.5rem;
}
.bord{
    border-radius: 0.5rem;
}
.btnhov:hover{
    background-color: rgb(183 182 255) !important;
}
.ctpreview{
    background-color: #dffffb !important;
    padding: 1rem;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}
.cttxt{
    background-color: #a5f9ee !important;
    padding: 2rem;
    border-color: #dffffb !important;
}

/* for popup message */
.pop{
    padding-top: 0.5rem;
    height: 2rem;
    /* border: 2px solid green; */
}

/* for responsiveness */
@media screen and (max-width: 991px) {
    .navbar-toggler{
        background-color: #acfffc !important;
        margin: 0.5rem;
    }
    li.nav-item{
        margin: 0.2rem !important;
    }
    .ctpara{
        font-size: 1rem;
    }
    .ctgroup{
        width: 100% !important;
    }
    .ct-alert{
        font-size: small;
    }
    /* for contact page */
    .ct-boxes{
        width: 50% !important;
    }
    /* for quotes page */
    .qt_main{
        flex-direction: column !important;
        justify-content: space-evenly !important;
        align-items: center !important;
    }
    .forimage{
        margin: 0 !important;
    }
    .forpara{
        margin: 0 !important;
        width: auto !important;
    }
}
@media screen and (max-width: 480px) {
    .btnhov{
        width: 40% !important;
        font-size: 0.7rem !important;
    }
    /* for quotes page */
    .forimage{
        width: 80% !important;
        height: 35vh !important;
    }
    .forpara{
        padding: 1rem;
    }
}
@media screen and (max-width: 320px) {
    .btnhov{
        width: 75% !important;
    }
    .ct-boxes{
        width: 60% !important;
    }
}